input[type=text] {
    padding: 8px 16px;
    width: 21em;  height: 3em;
    margin: 4px 2px;
    box-sizing: border-box;
    font-size: 20px;
}

input[type=button] {
    background-color:#212121;
    border: none;
    color: white;
    width: 3em;  height: 3em;
    padding: 8px 16px;
    text-decoration: none;
    font-size : 26px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:4px;
}

input[type=button]:hover {
	color:#ffffff;
  box-shadow: 2px 5px 8px #888888;
 }
